# Database Configuration
DATABASE_URL=

# Security & Session Secrets
AUTH_SECRET=
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# AI LLM Provider Keys
GOOGLE_API_KEY=
OPENROUTER_API_KEY=
